<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">

  <div class="container">
    <div class="row">
      <app-input-field class="input-field col s12" formControlName="nome"
      id="nome" label="Nome" [control]="formulario.get('nome')"
      ></app-input-field>
    </div>

    <div class="row">
      <app-input-field class="input-field col s12" formControlName="nick"
      id="nick" label="Nick" [control]="formulario.get('nick')"
      ></app-input-field>
    </div>

    <div class="row">
      <app-input-field class="input-field col s12" formControlName="email"
      id="email" label="Email" [control]="formulario.get('email')"
      ></app-input-field>
    </div>

    <div class="row">
      <app-input-field class="input-field col s12" formControlName="confirmarEmail"
      id="confirmarEmail" label="Confirmar Email" [control]="formulario.get('confirmarEmail')"
      ></app-input-field>
    </div>

    <div class="row">
      <app-input-field class="input-field col s6" formControlName="senha" type="password"
      id="senha" label="Senha" [control]="formulario.get('senha')"
      ></app-input-field>

      <app-input-field class="input-field col s6" formControlName="confirmarSenha"
      id="confirmarSenha" type="password" label="Confirmar Senha" [control]="formulario.get('confirmarSenha')"
      ></app-input-field>
    </div>

    <button type="submit" class="btn corFundo botao">Submit</button>

  </div>

</form>

