<form #form action="#" class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">

  <div class="container">

    <div class="row">
      <app-input-field class="input-field col s12" formControlName="nome" id="nome" label="Nome"
        [control]="formulario.get('nome')">
      </app-input-field>
    </div>

    <div class="row">
      <app-input-field class="input-field col s6" formControlName="dataInicio" type="date" id="dataInicio"
        label="Data Início" [control]="formulario.get('dataInicio')"></app-input-field>

      <app-input-field class="input-field col s6" formControlName="dataTermino" type="date" id="dataTermino"
        label="Data Término" [control]="formulario.get('dataTermino')"></app-input-field>
    </div>

    <div class="row">
      <app-input-field class="input-field col s6" formControlName="time" id="time" label="Quantidade de time"
        [control]="formulario.get('time')"></app-input-field>

      <app-input-field class="input-field col s6" formControlName="premiacao" id="premiacao" label="Premiação"
        [control]="formulario.get('premiacao')"></app-input-field>
    </div>

    <div class="row">
      <app-input-field class="input-field col s12" formControlName="adm" type="text" id="adm"
        label="Usuário admnistrador" [control]="formulario.get('adm')"></app-input-field>
    </div>

    <div class="row">
      <app-textearea-field class="input-field col s12" formControlName="regra" id="regra"
        label="Regra" [control]="formulario.get('regra')"></app-textearea-field>
    </div>

    <div class="row">
      <div class="file-field input-field col s12">
        <div class="btn background">
          <span>Imagem</span>
          <input formControlName="file" (change)="onChange($event)" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Adicione uma foto de capa para o campeonato">
        </div>
      </div>
    </div>

    <button  type="submit" class="btn background botao">Submit</button>

  </div>

</form>
