<div *ngIf="isLoading" class="preloader-wrapper big active center">
  <div class="spinner-layer spinner-blue-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<div *ngIf="!isLoading">
  <div class="centralizar">
    <div class="row">
      <input #inputSearch class="input-field col s8" placeholder="Buscar invocador" size="50" value="{{ name }}"
        (keyup.enter)="search(inputSearch.value)" style="text-transform: lowercase;" />
        <button (click)="search(inputSearch.value)" type="submit" class="btn">Pesquisar</button>
    </div>
  </div>

  <div *ngIf="semParemtro" style="text-align: center;">
    <h3 class="error">Digite um nick</h3>
  </div>

  <div *ngIf="nickNaoEcontrado" style="text-align: center;">
    <h3 class="error">Nick não encontrado</h3>
  </div>

  <div *ngIf="!nickNaoEcontrado && !semParemtro">
    <div>
      <img class="img profileIcon" [src]="profile">
      <p class="nick">{{ nick }}: {{level}}</p>
    </div>
    <div class="centralizar">
      <mat-drawer-container class="example-container">
        <table mat-table [dataSource]="summonerDto$" class="mat-elevation-z8" style="width: 140vh!important;" >

          <ng-container matColumnDef="champion">
            <th mat-header-cell *matHeaderCellDef class="cabecalho">CAMPEÃO</th>
            <td mat-cell *matCellDef="let summoner" [ngStyle]="{'background-color': (summoner.win ? '#a3cfec' : '#e2b6b3')}">
              <img *ngIf="!summoner.champion.includes('Vex')" class="imagem" src="{{summoner.champion}}"/>
              <img *ngIf="summoner.champion.includes('Vex')" class="imagem" src="../../assets/vex.jpg"/>
            </td>
          </ng-container>

          <ng-container matColumnDef="kda">
            <th mat-header-cell *matHeaderCellDef class="cabecalho" style="text-align: center;">KDA</th>
            <td mat-cell *matCellDef="let summoner" [ngStyle]="{'background-color': (summoner.win ? '#a3cfec' : '#e2b6b3')}" style="text-align: center;">
              {{ summoner.kills }} / {{ summoner.death }} / {{ summoner.assistis }}
            </td>
          </ng-container>

          <ng-container matColumnDef="cs">
            <th mat-header-cell *matHeaderCellDef class="cabecalho" style="text-align: center;">CS</th>
            <td mat-cell *matCellDef="let summoner" [ngStyle]="{'background-color': (summoner.win ? '#a3cfec' : '#e2b6b3')}" style="text-align: center;">
              {{ summoner.totalMinionKilled }}
            </td>
          </ng-container>

          <ng-container matColumnDef="gameDuration">
            <th mat-header-cell *matHeaderCellDef class="cabecalho" style="text-align: center;">DURAÇÃO</th>
            <td mat-cell *matCellDef="let summoner" [ngStyle]="{'background-color': (summoner.win ? '#a3cfec' : '#e2b6b3')}" style="text-align: center;">
              {{ summoner.gameDuration }}
            </td>
          </ng-container>

          <ng-container matColumnDef="gameMode">
            <th mat-header-cell *matHeaderCellDef class="cabecalho" style="text-align: center;">MODO DE JOGO</th>
            <td mat-cell *matCellDef="let summoner" [ngStyle]="{'background-color': (summoner.win ? '#a3cfec' : '#e2b6b3')}" style="text-align: center;">
              {{ summoner.gameMode }}
            </td>
          </ng-container>

          <ng-container matColumnDef="lupa">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let summoner" [ngStyle]="{'background-color': (summoner.win ? '#a3cfec' : '#e2b6b3')}">
              <a href="/profile/{{name}}/match/{{summoner.match}}" target="_blanck">
                <i class="material-icons">search</i>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </mat-drawer-container>
    </div>
  </div>
</div>
