//Botao
.ganhou{
  // font-size: 8px;
  background-color: #065c20;
  margin-left: 10px;
  height: 25px;
  width: 1px;
}

.background{
  background-color: #a3cfec;
}

.botao{
  height: 50px;
  width: 150px;
  float: right;
  margin-bottom: 25px;
}

.time{
  background-color: #a3cfec;
  height: 50px;
  width: 250px;
}
.center{
  align-items: center;
}

//TESTE
.example-container {
  width: 100%;
  height: 500px;
}

.margin-tab{
  margin-top: 60px;
  margin-bottom : 60px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.tournament-headers {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;

  h3 {
    width: 25%;
    text-align:center;
    font-weight: 400;
    border-right: 1px dashed #ccc;
    margin: 0;
    padding:1rem;
  }
}

.tournament-brackets {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background: #fdfdfd;
  margin-bottom: 50px;
}

//BRACKET
.bracket {
  padding-left: 0;
  display: flex;
  margin: 0;
  padding: 30px 0;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  border-right: 1px dashed #ccc;
  flex: 1;
}

//TEAM-ITEM
.team-item {
  background-color: #f4f4f4;
  padding: .5rem;
  display: block;
  margin: .5rem 10px;
  position: relative;
  line-height: 2;
  text-align: center;
}

.team-item:after {
  content:'';
  border-color: #68a1c2;
  border-width: 2px;
  position: absolute;
  display: block;
  width: 10px;
  right: -11px;
}

.team-item:nth-of-type(odd):after {
  border-right-style: solid;
  border-top-style: solid;
  height: 100%;
  top: 50%;
}

.team-item:nth-of-type(even):after {
  border-right-style: solid;
  border-bottom-style: solid;
  height: 100%;
  top: -50%;
}

.team-item:before {
  content:'';
  border-top: 2px solid #68a1c2;
  position: absolute;
  height: 2px;
  width: 10px;
  left: -10px;
  top: 50%;
}

.bracket:last-of-type {
  .team-item:before,
  .team-item:after {
    display: none;
  }
}
//FIRST
.first {
  background-color: #f4f4f4;
  padding: .5rem;
  display: block;
  margin: .5rem 10px;
  position: relative;
  line-height: 2;
  text-align: center;
}

.first:after {
  content:'';
  border-color: #68a1c2;
  border-width: 2px;
  position: absolute;
  display: block;
  width: 10px;
  right: -11px;
}

.first:nth-of-type(odd):after {
  border-right-style: solid;
  border-top-style: solid;
  height: 100%;
  top: 50%;
}

.first:nth-of-type(even):after {
  border-right-style: solid;
  border-bottom-style: solid;
  height: 100%;
  top: -50%;
}


// FINAL
.final {
  background-color: #f4f4f4;
  padding: .5rem;
  display: block;
  margin: .5rem 10px;
  position: relative;
  line-height: 2;
  text-align: center;
}

.final:before {
  content:'';
  border-top: 2px solid #68a1c2;
  position: absolute;
  height: 2px;
  width: 10px;
  left: -10px;
  top: 50%;
}

//WINNER
.winner {
  background-color: #f4f4f4;
  padding: .5rem;
  display: block;
  margin: .5rem 10px;
  position: relative;
  line-height: 2;
  text-align: center;
}

.winner time {
  display: inline-block;
  background-color: #dbdbdb;
  font-size: .8rem;
  padding: 0 .6rem;
}






