  <img *ngIf="campeonatoDto.file != ''" class="img" src="../../../assets/campeonato/{{campeonatoDto.file}}" style="width: 98%; height: 300px;">
  <img *ngIf="campeonatoDto.file == ''" class="img" src="../../../assets/campeonato/campeonatoDefault.jpg" style="width: 98%; height: 300px;">
  <div class="row" style="width: 95%;">
    <div class="col s4" >
      <p>Data: {{formataData(campeonatoDto.dataInicio)}} -  {{formataData(campeonatoDto.dataTermino)}}</p>
   </div>
    <div class="col s4">
      <p>Premiacao: {{premiacao(campeonatoDto.premiacao)}}</p>
    </div>
    <div class="col s4">
      <p>time: {{campeonatoDto.time}}</p>
    </div>
  </div>

  <mat-tab-group style="margin-bottom: 300px;" style="width: 98%;">
    <mat-tab label="Descrição">
      <p class="margin-tab">
        {{campeonatoDto.descricao}}
      </p>
    </mat-tab>
    <mat-tab label="Regra">
      <p class="margin-tab">
        {{campeonatoDto.regra}}
      </p>
    </mat-tab>
    <mat-tab label="Chaveamento">

      <mat-drawer-container class="example-container margin-tab">
        <div class="tournament-container">
          <div class="tournament-headers">
            <h3 *ngIf="quantidadeTime == 64">Round of 64</h3>
            <h3 *ngIf="quantidadeTime >= 32">Round of 32</h3>
            <h3 *ngIf="quantidadeTime >= 16">Round of 16</h3>
            <h3 *ngIf="quantidadeTime >= 8">Quarter-Finals</h3>
            <h3 *ngIf="quantidadeTime >= 4">Semi-Finals</h3>
            <h3 *ngIf="quantidadeTime >= 2">Final</h3>
            <h3 *ngIf="quantidadeTime >= 1">Winner</h3>
          </div>

            <div class="tournament-brackets">
              <ul *ngFor='let in of meio(); let i = index' class="bracket bracket-1">
                <li *ngFor='let in of condicaoLi(i) ;let j = index' [ngClass]="classe()">
                  <div>
                    {{timaA(i, j, 'a')}}
                    <button *ngIf="timesParticipantesA != 'TBD' && edit" (click)="ganhouNome(i,j,'a')"
                    class="btn ganhou" [disabled]="disableNome(timesParticipantesA, quantidadeTime) || disableNome(timesParticipantesB, quantidadeTime)">
                    <i class="material-icons">check</i>
                    </button>
                  </div>
                  <time>vs</time>
                  <div>
                    {{timaA(i, j, 'b')}}
                    <button *ngIf="timesParticipantesB != 'TBD' && edit" (click)="ganhouNome(i,j,'b')"
                    class="btn ganhou" [disabled]="disableNome(timesParticipantesA, quantidadeTime) || disableNome(timesParticipantesB, quantidadeTime)">
                    <i class="material-icons">check</i>
                    </button>
                  </div>
                </li>
              </ul>

            <ul class="bracket" *ngIf="quantidadeTime >= 1">
              <li class="winner">{{vencedor()}}</li>
            </ul>

          </div>
        </div>
      </mat-drawer-container>
    </mat-tab>

    <mat-tab label="Inscrição">

      <div class="center" style="padding: 30px;">
        <button (click)="cadastroTime()" class="btn time" [disabled]="cadastrarTime"><p style="margin-top: 10px;">Cadastrar time</p></button>
      </div>

      <table mat-table [dataSource]="timesParticipantes" class="mat-elevation-z8" style="margin-bottom: 50px;">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="cabecalho"> Número do Time </th>
          <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="cabecalho"> Nome do Time </th>
          <td mat-cell *matCellDef="let element"> {{element.nomeTime}} </td>
        </ng-container>

        <ng-container matColumnDef="capitao">
          <th mat-header-cell *matHeaderCellDef class="cabecalho"> Capitão do time</th>
          <td mat-cell *matCellDef="let element"> {{element.capitao}}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" >
            <a class="color" href="/time/{{id}}/editar/{{element.timeCapitao}}">
              <i *ngIf="element.capitao == usuario && !editarTime" class="material-icons">edit</i>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

    </mat-tab>

  </mat-tab-group>
