<div class="row">
  <div *ngFor="let time of time$ | async ">
    <div class="col m4">
      <div class="card">
        <div class="card-image">
          <a href="/time/detalhes/{{time.id}}">
            <img class="img" *ngIf="time.file != ''" src="../../assets/time/{{time.file}}">
          </a>
          <a href="/time/detalhes/{{time.id}}">
            <img class="img" *ngIf="time.file == ''" src="../../assets/time/timeDefault.png">
          </a>
          <span class="card-title" style="color: #ffffff;">{{time.nome.toUpperCase()}}</span>
          <a href="/time/detalhes/{{time.id}}" class="btn-floating halfway-fab waves-effect waves-light blue">
            <i class="material-icons">details</i>
          </a>
        </div>
        <div class="card-content" style="color: black;">
          {{time.nome}}
        </div>
        <div *ngIf="time.capitao == nick" class="card-action color">
          <a class="color" href="/time/{{time.id}}/detalhes">Detalhes</a>
          <a class="color" href="/time/{{time.id}}/editar/{{time.nome}}{{login.getSessionNick()}}">Editar</a>
        </div>
        <div *ngIf="time.capitao != nick" class="card-action color">
          <a class="color" href="/time/{{time.id}}/detalhes">Detalhes</a>
        </div>
      </div>
    </div>
  </div>
</div>
