<nav style="background-color: #a3cfec;">
  <div class="nav-wrapper">
    <a routerLinkActive="" class="brand-logo"><img class="logo" src="../assets/logo.png"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/campeonato">Campeonato</a></li>
      <li><a routerLink="/campeonato/cadastro">Cadastrar campeonato</a></li>
      <li><a href="/ranking/time">Lista de classificação</a></li>
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login">Login</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" [matMenuTriggerFor]="menu">Profile</a></li>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/usuario/editar/17">Editar Usuario</button>
          <button mat-menu-item routerLink="/logout">Logout</button>
        </mat-menu>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top: 30px;" >
  <router-outlet></router-outlet>
</div>
