.botao{
  height: 50px;
  width: 150px;
  float: right;
  margin-bottom: 25px;
}

.background{
  background-color: #a3cfec;
}

.label_select{
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  margin-top: -16px;
  font-size: .8rem;
}

.select_class{
  border-bottom: 1px solid #9e9e9e;
  color: black;
}
select:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border-bottom: 1px solid #9e9e9e!important;
}
