<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">

<div class="container">

    <div class="row">
      <app-input-field class="input-field col s12" formControlName="email"
      id="email" label="Email" [control]="formulario.get('email')"
      ></app-input-field>
    </div>

  <div class="row">
    <app-input-field class="input-field col s12" formControlName="senha" type="password"
    id="senha" label="Senha" [control]="formulario.get('senha')"
  ></app-input-field>

  <button type="submit" class="btn btn-success">
    Login
  </button>
</div>
