<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">

<div class="container">

    <div class="row">
      <app-input-field class="input-field col s12" formControlName="nick"
      id="nick" label="Nick" [control]="formulario.get('nick')"
      ></app-input-field>
    </div>

  <div class="row">
    <app-input-field class="input-field col s12" formControlName="senha" type="password"
    id="senha" label="Senha" [control]="formulario.get('senha')"
    ></app-input-field>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <a routerLink="/usuario/cadastro">Cadastrar novo usuario</a>
    </div>
  </div>

  <button type="submit" class="btn btn-success" style="float: right;">
    Login
  </button>
</div>
