.borda{
    border-color: black;
    border-top-style: inset;
    border-bottom-style: inset;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150vh;
}

.center{
  display: block!important;
  margin-left: auto!important;
  margin-right: auto!important;
}

.centralizar {
  display: flex!important;
  justify-content: center!important;
}

.vs{
  font-size: 20px;
  text-align: center;
}

.itemIcon{
  margin-left: 2px;
  width: 40px;
  height: 40px;
}

.cabecalho{
  font-size: 15px;
  color: black;
}

.imagem{
  width: 100px;
  height: 100px;
  float: left;
}
